<div class="navbar navbar-default navbar-fixed-bottom row">
    <div class="container">
        <ul class="list-unstyled navbarFooter">
            <li><a href="#/main" class="col-xs-4 text-center"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#/myOrder" class="col-xs-4 text-center"><span class="glyphicon glyphicon-user"></span></a></li>
            <li><a href="#/more" class="col-xs-4 text-center"><span class="glyphicon glyphicon-th-list"></span></a></li>
        </ul>
    </div>
</div>